.sale-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 25px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 45px;
    }
    .sale-box {
        text-align: center;
        height: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media (max-width: 990px) {
            height: 180px;
        }
    }
    .sale-box:first-child {
        .sale-title {
            &::before {
                content: '25%';
                position: absolute;
                font: 8rem "gotham-bold";
                color: #C53D28;
                opacity: .5;
                left: 10%;
                top: -70px;
                z-index: -1;
                @media (max-width: 990px) {
                   left: 4%;
                   top: -65px;
                }
            }
        }
    }
    .sale-box:nth-child(2) {
        .sale-title {
            &::before {
                content: '15%';
                position: absolute;
                font: 8rem "gotham-bold";
                color: #C53D28;
                opacity: .5;
                left: -35%;
                top: -70px;
                z-index: -1;
                @media (max-width: 990px) {
                    left: -45%;
                    top: -65px;
                }
            }
        }
    }
    .sale-box:nth-child(3) {
        .sale-title {
            &::before {
                content: '10%';
                position: absolute;
                font: 8rem "gotham-bold";
                color: #C53D28;
                opacity: .5;
                left: -20%;
                top: -70px;
                z-index: -1;
                @media (max-width: 990px) {
                    left: -22%;
                    top: -65px;
                 }
            }
        }
    }
    .sale-title {
        font: 2rem "gotham-bold";
        margin-bottom: 30px;
        position: relative;
        @media (max-width: 990px) {
            font-size: 1.9rem;
        }
    }
    .sale-text {
        font: 1.125rem "noto-sans-normal";
        @media (max-width: 990px) {
            font-size: .95rem;
        }
        br {
            @media (max-width: 1100px) {
                display: none;
            }
            @media (max-width: 990px) {
                display: block;
            }
        }
    }
}