.banner {
    height: 700px;
    background: url(../img/banner/banner-bg.png) no-repeat center center fixed;
    background-size: cover;
    @media (max-width: 768px) {
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/banner/mob.png);
        background-size: cover;
    }
    .btn-dark {
        display: block;
    }
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 240px;
    @media(max-width: 768px) {
        padding-top: 0;
    }
    .banner-title {
        font: 3rem "gotham-bold";
        color: #fff;
        margin-bottom: 10px;
        @media (max-width: 990px) {
            font-size: 2rem;
        }
        @media (max-width: 380px) {
            font-size: 1.5rem;
        }
    }
    .btn-dark {
        cursor: pointer;
        margin-bottom: 20px;
        @media (max-width: 576px) {
            margin-bottom: 0;
        }
    }
    .banner-text {
        font: 1.1rem "noto-sans-normal";
        color: #fff;
        margin-bottom: 20px;
        @media (max-width: 990px) {
            font-size: .9rem;
        }
        br {
            @media (max-width: 360px) {
                display: none;
            }
        }
    }
    .social-title {
        font: .9rem "noto-sans-normal";
        color: #fff;
        margin-bottom: 15px;
        @media (max-width: 576px) {
            display: none;
        }
    }
    .banner-social {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 576px) {
            display: none;
        }
        a {
            margin: 0 10px;
            transition: .3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}